<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrintLocalReport.Properties.Settings.KeToanConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=KeToan;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="PrintLocalReport.Properties.Settings.accountingConnectionString"
            connectionString="Data Source=DESKTOP-GOEF1DS\SQLEXPRESS;Initial Catalog=accounting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>